<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzk.useradmin.mapper.GroupMapper">

    <resultMap id="BaseResultMap" type="com.dingzk.useradmin.model.domain.Group">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="maxCapacity" column="max_capacity" jdbcType="INTEGER"/>
            <result property="leaderId" column="leader_id" jdbcType="BIGINT"/>
            <result property="accessLevel" column="access_level" jdbcType="TINYINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="ListGroupResult" type="com.dingzk.useradmin.model.vo.GroupVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="maxCapacity" column="max_capacity" jdbcType="INTEGER"/>
        <result property="accessLevel" column="access_level" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <association property="leader" column="leader_id" select="com.dingzk.useradmin.mapper.UserMapper.selectByUserId" />
        <collection property="participants" column="id" resultMap="com.dingzk.useradmin.mapper.UserMapper.GroupUserResult" />
    </resultMap>

    <select id="listGroups" resultMap="ListGroupResult" parameterType="com.dingzk.useradmin.model.qo.GroupQo">
        SELECT g.id, g.name, g.description, g.max_capacity, g.leader_id, g.access_level, g.create_time, g.update_time,
               u.user_id, u.username, u.email, u.avatar_url, u.gender, u.slogan, u.status, u.tags, u.created_at,
               u.last_login_at, u.user_role
        FROM `group` AS g
        LEFT JOIN user_group AS ug ON g.id = ug.group_id AND ug.deleted = 0
        LEFT JOIN user AS u ON ug.user_id = u.user_id AND u.deleted = 0
        <where>
            <if test="groupQo.id != null">
                AND g.id = #{groupQo.id}
            </if>
            <if test="groupQo.name != null and groupQo.name.length() > 0">
                AND g.name LIKE #{groupQo.name}
            </if>
            <if test="groupQo.description != null and groupQo.description.length() > 0">
                AND g.description LIKE #{groupQo.description}
            </if>
            <if test="groupQo.keyword != null and groupQo.keyword.length() > 0">
                AND (g.name LIKE #{groupQo.keyword} OR g.description LIKE #{groupQo.keyword})
            </if>
            <if test="groupQo.leaderName != null and groupQo.leaderName.length() > 0">
                AND g.leader_id =
                    (SELECT user_id FROM user WHERE username = #{groupQo.leaderName})
            </if>
            <if test="groupQo.accessLevel != null">
                AND g.access_level = #{groupQo.accessLevel}
            </if>
            AND g.deleted = 0
        </where>
    </select>

    <update id="updateGroup" parameterType="com.dingzk.useradmin.model.request.UpdateGroupRequest">
        UPDATE `group`
        <set>
            <if test="request.name != null and request.name.length() > 0">
                name = #{request.name},
            </if>
            <if test="request.description != null and request.description.length() > 0">
                description = #{request.description},
            </if>
            <if test="request.accessLevel != null">
                access_level = #{request.accessLevel},
            </if>
            <if test="request.password != null and request.password.length() > 0">
                password = #{request.password},
            </if>
        </set>
        WHERE id = #{request.id}
    </update>

    <update id="updateGroupLeaderId">
        UPDATE `group`
        SET leader_id = #{newLeaderId}
        WHERE id = #{groupId}
    </update>
    
    <select id="listJoinedGroups" parameterType="long" resultMap="ListGroupResult">
        SELECT g.id, g.name, g.description, g.max_capacity, g.leader_id, g.access_level, g.create_time, g.update_time,
               u.user_id, u.username, u.email, u.avatar_url, u.gender, u.slogan, u.status, u.tags, u.created_at,
               u.last_login_at, u.user_role
        FROM `group` AS g
                 LEFT JOIN user_group AS ug ON g.id = ug.group_id
                 LEFT JOIN user AS u ON ug.user_id = u.user_id
        WHERE g.id IN
            <foreach collection="groupIdList" item="groupId" open="(" close=")" separator=",">
                #{groupId}
            </foreach>
    </select>

    <sql id="Base_Column_List">
        id,name,description,
        max_capacity,leader_id,access_level,
        password,create_time,update_time,
        deleted
    </sql>
</mapper>