<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzk.useradmin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.dingzk.useradmin.model.domain.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="slogan" column="slogan" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="lastLoginAt" column="last_login_at" jdbcType="TIMESTAMP"/>
            <result property="userRole" column="user_role" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="GroupUserResult" type="com.dingzk.useradmin.model.vo.UserVo">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="slogan" column="slogan" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="lastLoginAt" column="last_login_at" jdbcType="TIMESTAMP"/>
        <result property="userRole" column="user_role" jdbcType="TINYINT"/>
    </resultMap>

    <select id="selectByUserId" resultMap="GroupUserResult">
        SELECT user_id, username, email, avatar_url, gender, slogan, status, tags, created_at,
               last_login_at, user_role
        FROM user
        WHERE user_id = #{userId}
    </select>

    <sql id="Base_Column_List">
        user_id,username,email,
        user_account,password,avatar_url,
        gender,slogan,status,
        tags,created_at,updated_at,
        deleted,last_login_at,user_role
    </sql>
</mapper>
